.manage-check-form{
  /* margin-top: 3%; */
  margin-left:15%;
  margin-right: 15%;
  height: 400px;
  text-align: center;
}
.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
/* width: 100%; */
margin-left: 30%;
margin-right: 30%;

}
.form-layout{
  margin-top: 20%;
}
.btn-check{
  background-color: hsl(141, 71%, 48%);
  font-size: 16px;
}
.matfile{
   margin-top: 2%;
}
.bg-manage{
  background-size: cover;
  background-position: center;
  height: 45rem;
  margin: 0;
  background-color:  rgba(0, 0, 0, 0.7);
  /* opacity: 0.7; */
}
.bodylayout{
  padding-top: 3%;
  margin: 0;
}
.config-password-valid{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  height: 200px;

}
.layout-text-ss{
   height: auto;
}
.password-tltle{
   /* margin-top: 5%; */
   text-align: center;
   font-size: 20px;
}
.example-container {
   display: flex;
   flex-direction: column;
 }

.example-container > * {
   margin-right: 26%;
   margin-left: 26%;
   /* width: 100%; */
}
.btn-password-submit{
   background-color: hsl(141, 71%, 48%);
}
.config-password-valid{
  margin-top: 3%; margin-left: 20%; margin-right: 20%; height: auto;
  }
  .password-tltle{
  /* text-align: center; */
  text-align: left;
  font-size: 20px;
  }
  .password-tltle-1{
      text-align: center;
      /* text-align: left; */
      font-size: 20px;
      }
  .example-container {
  display: flex;
  flex-direction: column;
  }
  .example-container > * {
  margin-right: 26%;
  margin-left: 26%;
  }
  .btn-password-submit{
  background-color: hsl(141, 71%, 48%);
  }
  .check-icon{
  text-align: center;
  color:hsl(204, 86%, 53%);
  }

