<app-manage-package-main></app-manage-package-main>
<div class="bg-manage">
    <div class="bodylayout">
    <mat-card class="manage-check-form">
     <div *ngIf="state">
      <br/>
      <h1>ลงทะเบียนส่งพัสดุ</h1>
      <div class="example-container">
          <span *ngIf="!noti"  >
              <mat-card>{{notimag}}</mat-card>
        </span>
        <mat-form-field  class="matfile">
          <input matInput placeholder="House Number" name="packageid"  [(ngModel)]="managepak.houseNumber" required #packageid>
        </mat-form-field>
        <mat-form-field  class="matfile">
          <input matInput placeholder="Receiver" name="housenumber"  [(ngModel)]="managepak.receiver" required #housenumber/>
        </mat-form-field>
          <div>
            <a    mat-raised-button  class="btn-check" (click)="onCheck()"><b>ตรวจสอบ</b></a>
          </div>
      </div>
    </div>
    <div *ngIf="!submit">
        <div class="layout-text-ss">
            <mat-card class="config-password-valid" >
            <p class="password-tltle-1"><b>รายละเอียดพัสดุที่เลือก</b></p>
            <p class="password-tltle"><b>เลขพัสดุ: {{datadetail.packageId}}</b></p>
            <p class="password-tltle"><b>วันรับเข้า: {{datadetail.date | date}}</b></p>
            <p class="password-tltle"><b>ชื่อพักงานที่รับ: {{datadetail.employee.name}}  </b></p>
            <p class="password-tltle"><b>บริษัทที่มาสง: {{datadetail.deliveryCompany.name}}</b></p>
            <div class="example-container">
                <div>
                    <a    mat-raised-button  class="btn-check" (click)="onSubmit()"><b>ยืนยัน</b></a>
                </div>
            </div>
        </mat-card>
        </div>
    </div>
    <div class="bodylayout-1" *ngIf="!state">
      <!-- <mat-card class="manage-check-form"> -->
        <br/>
        <h1>พัสดุที่พบ</h1>
        <div class="example-container-1">
          <mat-list role="list"  *ngFor = "let status of packalist" >
            <mat-list-item role="listitem"><p class="title-name">{{status.mpInId}} | <b>Package ID:</b>&nbsp;&nbsp;&nbsp;{{status.packageId}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date In:&nbsp;&nbsp;&nbsp;</b>{{status.date | date}}
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <b>House Number:</b>&nbsp;&nbsp;&nbsp;{{status.house.houseNumber}}</p>
                  <a    mat-raised-button  class="btn-linwe" (click)="onChood(status.mpInId)"><b>เลือก</b></a>
            </mat-list-item>
          </mat-list>
        </div>
      <!-- </mat-card> -->
    </div>
    </mat-card>
  </div>
  </div>
