<mat-toolbar class="tootbar">
  <mat-toolbar-row>
    <button mat-button class="menu-list" routerLink="/">G06 Rent House</button>
    <button mat-button [matMenuTriggerFor]="menu" class="menu-list">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item><button *ngIf="emp()" mat-button  class="menu-list"  routerLink="/makerenthouse">ระบบเช่าบ้าน</button></button>
      <button mat-menu-item><button *ngIf="client()" mat-button class="menu-list" routerLink="/makeinsurance">ประกันทรัพย์สิน</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list" routerLink="/manage/packagein" >ระบบจัดการพัสดุ</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list" routerLink="/foodorder">บริการส่งอาหาร</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list"  routerLink="/repairs">ระบบแจ้งซ่อม</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list"  routerLink="/receipt">ระบบค่าน้ำค่าไฟ</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list"  routerLink="/reqinternet">ขอใช้งานอินเตอร์เน็ต</button></button>
      <button mat-menu-item><button *ngIf="emp()" mat-button class="menu-list"  routerLink="/cleanhouse">ระบบแจ้งทำความสะอาด</button></button>
    </mat-menu>









    <span class="example-spacer"></span>
    <button  *ngIf="!authed()" class="example-icon"  routerLink='/login' mat-button>Login</button>
    <!-- <button  *ngIf="!authed()" class="example-icon" mat-button>Resigter</button> -->
    <p  *ngIf="authed()" class="example-icon">Welcome : {{names()}}</p>
    <button  *ngIf="authed()" class="example-icon" mat-button (click)="logOut()"><b>log Out</b></button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
