<div class="bg-manage">
  <div class="bodylayout">
  <mat-card class="manage-check-form">
    <br/>
    <h1>สถานะพัสดุ</h1>
    <div class="example-container">
      <mat-list role="list"  *ngFor = "let status of statusList" >
        <mat-list-item role="listitem">{{status.mpInId}} | <b>Package ID:</b>&nbsp;&nbsp;&nbsp;{{status.packageId}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Date In:&nbsp;&nbsp;&nbsp;</b>{{status.date | date}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Status:</b>&nbsp;&nbsp;&nbsp;{{status.status}}
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <b>House Number:</b>&nbsp;&nbsp;&nbsp;{{status.house.houseNumber}}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-card>
</div>
</div>
