<app-manage-package-main></app-manage-package-main>
<div class="bg-manage">
  <div class="bodylayout">
  <mat-card class="manage-check-form">
    <br/>
    <h1>สถานะพัสดุ</h1>
    <div class="example-container">
      <table     style="width:100%">
          <tr>
              <th>Package No.</th>
              <th>Package ID:</th>
              <th>Date In</th>
              <th>Status</th>
              <th>House Number</th>
            </tr>
        <tr *ngFor = "let status of statusList">
         <td>{{status.mpInId}}</td><td>{{status.packageId}}</td>
         <td>{{status.date | date}}</td>
         <td>{{status.status}}</td>
         <td>{{status.house.houseNumber}}</td>
        </tr>

    </table>
    </div>
  </mat-card>
</div>
</div>
