<div class ="bg-manage">
<mat-card class="manage-check-form">
<p>บริการสั่งอาหาร</p>
  <mat-tab-group>
  <mat-tab label="ระบุบ้านเลขที่">
  <div class="example-container">
  <mat-form-field  class="matfile">
            <mat-select placeholder="ระบุบ้านเลขที่" [(ngModel)]="house">
              <mat-option  *ngFor="let house of houses" [value]="house.houseId">
                  {{house.houseNumber}}
              </mat-option>
            </mat-select>

        </mat-form-field>

</div>

</mat-tab>
  <mat-tab label="ระบุชื่อลูกค้า">
  <div class="example-container">
  <mat-form-field  class="matfile">
      <mat-select placeholder="ระบุชื่อลูกค้า" [(ngModel)]="client">
        <mat-option  *ngFor="let client of clients" [value]="client.cid">
            {{client.name}}
        </mat-option>
      </mat-select>

  </mat-form-field>

</div>

</mat-tab>
  <mat-tab label="ระบุเมนูอาหาร">
  <div class="example-container">
   <mat-form-field  class="matfile">
        <mat-select placeholder="ระบุเมนูอาหาร" [(ngModel)]="foodlist">
          <mat-option  *ngFor="let foodlist of foodlists" [value]="foodlist.foodlistId">
              {{foodlist.foodlistName}}
          </mat-option>
        </mat-select>

    </mat-form-field>

</div>

</mat-tab>
  <mat-tab label="ระบุชื่อผู้รับรายการ">
  <div class="example-container">
  <mat-form-field  class="matfile">
        <mat-select placeholder="ระบุชื่อผู้รับรายการ" [(ngModel)]="employeeid">
          <mat-option  *ngFor="let employee of employees" [value]="employee.empId">
              {{employee.name}}
          </mat-option>
        </mat-select>

    </mat-form-field>

</div>

</mat-tab>
  <mat-tab label="บันทึกรายการ">
<div class="example-button-row"><br><br><br><br>
<button mat-raised-button color="primary"(click)="save()" >Save</button>

</div>
      <span *ngIf="!noti" >
          <mat-card>{{notimag}}</mat-card>
      </span>
</mat-tab>

  </mat-tab-group>

</mat-card>

<mat-card class="manage-check-form">

<mat-card-title><p>รายการที่ถูกบันทึก</p></mat-card-title>
    <mat-list>
      <div *ngFor="let foodOrder of FoodOrders">
        <mat-card-content>
          <mat-divider></mat-divider><br>
          <p>รายการที่ :&nbsp;{{foodOrder.foodOrderId}}&nbsp;&nbsp; รายชื่ออาหาร : {{foodOrder.foodlistId.foodlistName}}&nbsp;&nbsp;ราคาอาหาร : &nbsp;{{foodOrder.foodlistId.foodlistPrice}}&nbsp;&nbsp; สั่งโดยคุณ :&nbsp;{{foodOrder.cid.name}} &nbsp;&nbsp; บ้านเลขที่ : {{foodOrder.houseId.houseNumber}}</p>
          <mat-divider></mat-divider>
  <mat-divider></mat-divider>
  </mat-card-content>
      </div>
    </mat-list>

</mat-card>

</div>
