.manage-check-form{
  /* margin-top: 3%; */
  margin-left:20%;
  margin-right: 20%;
  height: 300px;
  text-align: center;
}
.example-container {
display: flex;
flex-direction: column;
}

.example-container > * {
/* width: 100%; */
margin-top: 10%;
margin-left: 20%;
margin-right: 20%;

}
.form-layout{
  margin-top: 20%;
}
.btn-check{
  background-color: hsl(204, 86%, 53%);
  font-size: 16px;
}
.matfile{
   margin-top: 2%;
}
.bg-manage{

  background-color:  rgb(76,76,76);

}
.bodylayout{
  padding-top: 3%;
  margin: 0;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
p {
  font-size: 14px;
}

