.config-password-valid{
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  height: 200px;

}
.layout-text-ss{
   height: auto;
}
.password-tltle{
   /* margin-top: 5%; */
   text-align: center;
   font-size: 20px;
}
.example-container {
   display: flex;
   flex-direction: column;
 }

.example-container > * {
   margin-right: 26%;
   margin-left: 26%;
   /* width: 100%; */
}
.btn-password-submit{
   background-color: hsl(141, 71%, 48%);
}
.config-password-valid{
  margin-top: 3%; margin-left: 20%; margin-right: 20%; height: auto;
  }
  .password-tltle{
  /* text-align: center; */
  text-align: left;
  font-size: 20px;
  }
  .password-tltle-1{
      text-align: center;
      /* text-align: left; */
      font-size: 20px;
      }
  .example-container {
  display: flex;
  flex-direction: column;
  }
  .example-container > * {
  margin-right: 26%;
  margin-left: 26%;
  }
  .btn-password-submit{
  background-color: hsl(141, 71%, 48%);
  }
  .check-icon{
  text-align: center;
  color:hsl(204, 86%, 53%);
  }
