<div class="layout-text-ss">
    <mat-card class="config-password-valid" >
    <!-- <div class="check-icon"><i class="far fa-check-circle fa-5x"></i></div> -->
    <p class="password-tltle-1"><b>รายละเอียดพัสดุ</b></p>
    <p class="password-tltle"><b>เลขพัสดุ: </b></p>
    <p class="password-tltle"><b>วันรับเข้า: </b></p>
    <p class="password-tltle"><b>ชื่อพักงานที่รับ:  </b></p>
    <p class="password-tltle"><b>บริษัทที่มาสง: </b></p>
    <div class="example-container">
    </div>
    </mat-card>
</div>
